/code/.composer
/code/html/honi-backend
/code/html/base-api
/code/html/laravel-app
/code/.bash_history
/code/.viminfo
/code/nails
/mysql
/node/node_modules
/nginx/sites-enabled/honi.group.conf
/nginx/sites-enabled/laravel-app.conf
/nginx/log
/node/node_modules
/node/src
/node/public
/php